[Unit]
Description=QCollect metrics collector
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStart=/usr/bin/qcollect
Restart=on-failure

[Install]
WantedBy=multi-user.target
